* {
    box-sizing: border-box;
}



/* == Header == */
header {
    width: 100%;
    height: 15vh;
    display: inline-block;
    background: orange
}

header img {
    display: inline-block;
    height: 15vh;
}

header h1 {
    display: inline-block;
    position: absolute;
    top: 2vh;
    left: 15rem;
    font-family: "Times New Roman", serif;
    font-size: 5rem;
    color: white;
}

.right {
    display: none;
}

/* == main == */

h1 {
    text-align: center
}

.tablet-computer-only {
    display: none
}

/* = ad = */
.advertisement p {
    text-align: center
}

.advertisement img {
    display: inline-block;
    width: 30rem;
}

.advertisement a {
    display: inline-block;
    margin: 0 calc(50vw - 15rem)
}

/* = buttons = */
#buttons {
    padding: 0 4vh
}

#buttons a {
    display: block;
    margin-bottom: 1rem
}

@media (max-width: 767px) {
    #buttons #discord {
        font-size: 1.4rem
    }
}

/* == TABLET == */
@media (min-width: 768px) {

    /* == header == */
    .right {
        display: block;
        float: right;
    }
    header {
        display: flex;
        justify-content: space-between
    }

    header h1 {
        position: absolute;
        top: 6vh;
        left: 50%;
    }

    header h1 {
        position: static;
        
    }

    /* == main == */
    hr.tablet-computer-only {
        display: block
    }

    hr.phone-only {
        display: none
    }

    .advertisement a {
        margin: 0
    }

    #buttons {
        display: inline-block;
        margin: 0 25vw
    }

}

/* == COMPUTER == */
@media (min-width: 1024px) {

    /* == header == */
    header h1 {
        font-size: 7rem
    }
}